/*******************************************
* Nome file: style.css                     *
* Autori: Buongusto Andrea, Salierno Marco *
********************************************/


/***
*						Palette colori:
* #17252a oppure rgb(23, 37, 42) - scuro
* #2b7a78 oppure rgb(43, 122, 120)
* #3aafa9 oppure rgb(58, 175, 169)
* #def2f1 oppure rgb(222, 242, 241)
* #ffffff oppure rgb(255, 255, 255) - chiaro
***/

@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto-Light.ttf");
}

* {
	box-sizing: border-box;
	outline: none;
}

body {
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 100%;
  color: #444;
  margin: 0 0 70px;
}

header {
  font-family: 'Josefin Sans', Arial, sans-serif;
  background-color: #2b7a78;
  color: #ffffff;
  min-height: 60px;
  box-shadow: 0px -6px rgba(23, 37, 42, 0.1) inset;
}

footer {
	background-color: #2b7a78;
	color: rgba(255,255,255,0.6);
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

footer p {
	margin: 0;
}

/*Contenitore largo 90% e centrato orizzontalmente rispetto all'elemento padre*/
.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}